
h2 {
    color:#85983a;
    font-weight: 300;
}

main {
    background-color: #a4bb47;
}

.brand {
    font-family: "Indie Flower", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: #453721;
}

.burger {
    background-color: rgba(109, 118, 55, 0.5);
}

.card {
    border: none;
    background-color: rgba(6, 6, 6, 0.6)
}

.image-sub {
    font-size: 80%;
    color: gray;
    font-style: italic;
}
.scale {
    width: 100%;
    height: auto;
}

.post-link {
    text-decoration: none;
    color: #a4bb47;
}

.post-link:hover {
    color: #637947;
}

.block-intro {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0.5em;
    padding: 1em;
}

.banner {
    max-width: 700px;
    margin: 2em;
    padding: 1em;
    background-color: rgba(76, 98, 28, 0.6);
}

.set-image {
    min-width: 200px;
    min-height: 150px;
    margin-left: auto;
}

.confirm-btn {
    background-color: rgba(98, 100, 73, 0.7);
    padding: 0.5em;
    margin: 0.5em;
  }

.dish-detail {
    margin-top: 10px;
    height: 33vh;
    width: 100%;
}

.title {
    color:#85983a;
    font-weight: 500;
}

.dish-image {
    position: relative;
    overflow: hidden;
}

.scale {
    width: 100%;
    height: auto;
}